<style>
body {font-family: 'Advent Pro';}

.tablink {
    background-color: #555;
    color: white;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    text-align: center;
    font-size: 17px;
    width: 33.3333%;
    padding-top: 15px;
    padding-bottom: 15px;
}

#checkoutButton {
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    font-weight: bold;
    text-align: center;
    background: red;
    color: #fff;
    font-size: 150%;
    padding: 10px;
}

.tablink:hover {
    background-color: #777;
}

/* Style the tab content */
.tabcontent {
    color: white;
    display: none;
    padding: 0;
    text-align: center;
    position: relative;
}

.itemName {
    padding-top: px;
}

.centered {
    position: absolute;
    top: 50%;
}

#Google {
    background-color:white;
}
#Amazon {
    background-color: rgb(60,60,60);
}
#Apple {
    background-color:black;
}

/* Footer */
#footer {
    background: #fff;
    min-height: 50px;
    text-align: left;
    color: #b1b1b1;
    padding-top: 20px;
    font-size: 12px;
    line-height: 20px;
}

</style>